
@{
    ViewData["Title"] = "Index";
    var flight = TempData["flight"] as Flight;
    var countries = TempData["countries"] as List<Country>;
}

@inject IHttpContextAccessor httpAccessor

@{
    var count = httpAccessor.HttpContext.Session.GetInt32("passengerCount");
}

@model ReservationViewModel
<html>
<head>
    <title></title>
</head>
<body>
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <div class="section-full content-inner bg-white">
                <div class="container">
                    <div class="row d-flex flex-column align-items-center">
                        <div class="col-lg-10">
                            <div class="listing-filter m-b40">
                                <div class="d-flex">
                                    <div class="ml-auto">
                                        <ul class="filter m-b0">
                                            <li>
                                                <select>
                                                    <option>فیلترهای پیش فرض</option>
                                                    <option>ساخت و ساز</option>
                                                    <option>هماهنگ کننده</option>
                                                    <option>کارفرما</option>
                                                    <option>شغل مالی</option>
                                                    <option>فناوری اطلاعات</option>
                                                    <option>بازاریابی</option>
                                                    <option>بررسی کیفیت</option>
                                                    <option>املاک و مستغلات</option>
                                                    <option>فروش</option>
                                                    <option>پشتیبانی</option>
                                                    <option>آموزش</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="filter-icon m-b0">
                                            <li><a href="javascript:void(0)"><i class="fa fa-th"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-th-list"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="listing-bx listing-half m-b30">
                                        <div class="listing-media d-flex flex-column text-center">
                                            <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(flight.Airline.LogoImage)}")" alt="">
                                            <div class="d-flex flex-column justify-content-between">
                                                <p class="text-black-50 mb-2">ایرلاین:</p>
                                                <h6>@flight.Airline.Name</h6>
                                            </div>
                                        </div>
                                        <div class="listing-info w-100 d-flex flex-column">
                                            <div class="col-12 text-center">
                                                <h3 class="title">
                                                    @($"{flight.ToCity.Name} {flight.ArrivalTime.Value.ToShortTimeString()} ")
                                                    <i class="fa fa-fw fa-long-arrow-left fa-3x"></i>
                                                    @($" {flight.DepartureTime.Value.ToShortTimeString()} {flight.FromCity.Name}")
                                                </h3>
                                            </div>
                                            <div class="d-flex flex-row justify-content-around">
                                                <div>
                                                    <p class="text-black-50">هواپیما:</p>
                                                    <h6>@flight.Airplane.Name</h6>
                                                </div>
                                                <div>
                                                    <p class="text-black-50">کلاس پرواز:</p>
                                                    <h6>@flight.ClassType.Name</h6>
                                                </div>
                                                <div>
                                                    <p class="text-black-50">شماره پرواز:</p>
                                                    <h6>@flight.FlightNumber</h6>
                                                </div>
                                                <div>
                                                    <p class="text-black-50">بار مجاز:</p>
                                                    <h6>@flight.AllowedCargoWeight کیلوگرم</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column justify-content-around col-md-2">
                                            <div>
                                                <h5>قیمت:</h5>
                                                <p>@($"{flight.Price:0,0}") تومان</p>
                                            </div>

                                            <span class="text-primary" style="color:red">@($"{flight.Capacity} صندلی باقی مانده") </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Pagination start -->
                            <!-- Pagination END -->
                        </div>
                        <div class="col-lg-10">
                            <form asp-action="ConfirmReservation" asp-controller="Reservation" asp-route-flightId="@flight.Id">
                                @for (int i = 0; i < count; i++)
                                {<div>
                                        <div class="sticky-top">
                                            <div class="listing-filter-sidebar d-flex flex-column">
                                                <div>
                                                    <h4 class="title m-b30">اطلاعات مسافر @($"{i+1}")</h4>
                                                </div>
                                                <div>
                                                    <ul class="nav nav-tabs d-flex flex-row justify-content-center mb-3">
                                                        <li class="nav-item">
                                                            <a name="@i" class="nav-link active show" data-toggle="tab" href="#party">
                                                                <i class="fa fa-user"></i>
                                                                <span class="title-head">ایرانی</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a name="@i" class="nav-link" data-toggle="tab" href="#restauren">
                                                                <i class="fa fa-user"></i>
                                                                <span class="title-head">غیر ایرانی</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class=" d-flex flex-row flex-wrap  align-items-end">
                                                    <input type="text" id="@i" asp-for="passengers[i].isIranian" value="true" style="display:none" />
                                                    <div class="form-group col-lg-4 col-md-6">
                                                        <div class="input-group">
                                                            <input type="text" asp-for="passengers[i].latinFirstName" class="form-control" placeholder="نام لاتین">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-6">
                                                        <div class="input-group">
                                                            <input type="text" asp-for="passengers[i].latinLastName" class="form-control" placeholder="نام خانوادگی لاتین">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-6">
                                                        <select asp-for="passengers[i].gender">
                                                            <option class="text-gray" style="display:none">انتخاب جنسیت</option>
                                                            <option value="true">مرد</option>
                                                            <option value="false">زن</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-6">
                                                        <div class="input-group">
                                                            <input type="text" asp-for="passengers[i].firstName" class="form-control" placeholder="نام فارسی">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-6">
                                                        <div class="input-group">
                                                            <input type="text" asp-for="passengers[i].lastName" class="form-control" placeholder="نام خانوادگی فارسی">
                                                        </div>
                                                    </div>
                                                    <div class="@($"form-group col-lg-4 col-md-6 {i} ")">
                                                        <div class="input-group">
                                                            <input type="text" asp-for="passengers[i].nationalCode" class="form-control" placeholder="کد ملی">
                                                        </div>
                                                    </div>
                                                    <div class="@($"form-group col-lg-4 col-md-6 {i} passenger-input-toggle")">
                                                        <div class="input-group">
                                                            <input type="text" asp-for="passengers[i].passportNumber" class="form-control" placeholder="شماره پاسپورت">
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="form-group col-lg-4 col-md-6">
                                                        <span class="mr-3" style="font-size:smaller">تاریخ تولد</span>
                                                        <div class="input-group">
                                                            <input type="date" asp-for="passengers[i].birthDate" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="@($"form-group col-lg-4 col-md-6 {i} passenger-input-toggle")">
                                                        <select asp-for="passengers[i].birthCountryId">
                                                            <option value="50" class="text-gray" style="display:none">کشور محل تولد</option>
                                                            @foreach (var item in countries)
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="@($"form-group col-lg-4 col-md-6 {i} passenger-input-toggle")">
                                                        <select asp-for="passengers[i].passportCountryId">
                                                            <option class="text-gray" style="display:none">کشور صادر کننده پاسپورت</option>
                                                            @foreach (var item in countries)
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="@($"form-group col-lg-4 col-md-6 {i} passenger-input-toggle")">
                                                        <span class="mr-3" style="font-size:smaller">تاریخ انقضا پاسپورت</span>
                                                        <div class="input-group">
                                                            <input type="date" asp-for="passengers[i].passportExpirationDate" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-12 d-flex flex-row justify-content-end pt-3">
                                    <button type="submit" class="btn btn-primary col-3">تایید و ادامه خرید</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact area END -->
    </div>
    <!-- Content END-->
    <script>
        $(() => {
            $('li.nav-item > a:first-child').each((index, val) => {
                $(val).click(() => {
                    const group = $(val).attr('name')
                    if (!$(val).hasClass("active")) {
                        if ($(val).children('span').text() === "ایرانی") {
                            $('#' + group).val("true")
                        } else {
                            $('#' + group).val("false")
                        }
                        let elements = document.getElementsByClassName(group)
                        $(elements).each((index, value) => {
                            value.classList.toggle("passenger-input-toggle")
                        })
                    }
                })
            })
        })
    </script>
</body>
</html>



